*, *:before, *:after {
    box-sizing: border-box;
}

body
{
    font-family: Verdana, Geneva, sans-serif;
    color: #25283d;
    background-color: #ecf0f1;
}

.main-content
{
    padding: 60px 5% 2em;
    overflow: hidden;
    text-align: center;
}

.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
}

.nav-logo
{
    float: left;
    padding-left: 5%;
    padding-top: 1em;
}

.primary-nav
{
    float: right;
    padding-right: 5%;
}

.primary-nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.primary-nav li
{
    display: inline-block;
    margin-right: 70px;
    text-align: center;
    padding: 1em 1em;
}

.primary-nav a
{
    text-decoration: none;
}

.card-body
{
    width: 80%;
    margin: 0 auto;
}

.card-body form
{
    border-radius: 25px;
    background: #fff;
    padding: 20px;
    text-align: left;
}

.form-group
{
    width: 250px;
    display: inline;
}

#form-group-trip
{
    display: block;
}

#form-group-return-date
{
    display: none;
}

input[type=date]
{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-bottom: 1px solid #eee;
    font-family:inherit;
    font-size: inherit;
}

select
{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-bottom: 1px solid #eee;
    font-family:inherit;
    font-size: inherit;
    margin: 10px 0;
}

input
{
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-bottom: 1px solid #eee;
    font-family:inherit;
    font-size: inherit;
    margin: 10px 0;
}

button
{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
}

input:hover
{
    /* shouldn't shifts elements
    border: 1px solid #aaa;
    */
}

.flight-result
{
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.flight-result-time
{
    grid-column: 1;
}

.flight-result-details
{
    grid-column: 2;
}

.flight-result-cost
{
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flight-result-book
{
    grid-column: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}